body {
    background-color: lavender;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
}

.cards {
    border: 5px black;
}

.modal {
    background-color: #007cfccf;
    text-align: center;
    color: black;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modal form {
    font-size: 20px;
}
.modal textarea {
    font-size: 20px;
}

#modalCard {
    background-color: white;
    opacity: 1;
    width: 80%;
    height: auto;
}

#uploader {
    font-size: 10px;
}
